body {
  font-family: sans-serif;
  font-size: 16px;
}
.header {
  text-align: center;
  padding-top: 20px;
}
.container{
  background:#eee;
  border-radius: 20px;
}
.row {
  border: 2px solid white;
}
.row p{
  font-size:20px;
  margin:20px 0;
  text-align: center;
  align-self: center;
}
textarea,input{
  background: transparent;
  color: #222222;
  padding: 15px 10px;
  height: 100px;
  border: none;
  resize: none;
  overflow: hidden;
}
input[type=submit]:hover{
  opacity:0.6;
}




