body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.row p{
  font-size:24px
}

input[type=text]{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  border:none;
  border-radius: 2px;
}
input[type=submit]{
  background: #eee;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  border:none;
  border-radius: 2px;
}
input[type=submit]:hover{
  background: #ddd;
}

.jumbotron {
  background: transparent;
  text-align: center;
  padding: 1em 0 0 0;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

